USE 教務系統 
GO
CREATE TABLE 熱銷產品 (
   產品編號  char(5)    NOT NULL PRIMARY KEY ,
   產品名稱  varchar(30) UNIQUE ,
   定價      money
)

create table prod (
    prod_no char(5) not null primary key,
    name varchar(30) unique,
    price money
)










 































































