/*
索引就是預先將資料系統化整理，以便縮小搜尋範圍來在大量資料中快速找到資料
Index 在磁碟中定位記錄資料，以便在資料表的龐大資料中加速找到資料。提昇 SQL 查詢效率
例如：圖書附錄的索引資料，可以讓我們依照索引的主題和頁碼，馬上找到指定主題所在的頁。

缺點： 磁碟空間、維護成本， table異動時， 都需要花額外時間和資源更新索引資料

在資料表建立索引需要額外的參考資料，資料庫管理系統可以將資料表的部分欄位資料預先進行排序，此欄位稱為「索引欄位」（Index Columns），
索引欄位値稱為鍵値（Key Value）
一般來說，索引資料包含兩個欄位値：索引欄位、指標 （Pointer）欄位，它是指向對應到資料表記錄位置的值。讓我們更快取得查詢結果。


索引資料是以【成績】欄位排序，索引資料擁有指標可以指向真正
儲存的位置，當進行搜尋時，
因為已經建立索引資料，所以搜尋範圍縮小到只有
索引資料的【成續】欄位，而不是整個資料表，因為搜尋範圍縮小，可以加速搜尋。
例如：找到成續是 62，就可以透過指標馬上找到所需的資料。

同理，在資料表選擇一些欄位建立
索引資料，例如：【學生】資料表的【學號】欄位，透過學號的索引資料，就可以加速學生記錄的搜尋。


索引的種類
分為三種：主索引、唯一索引和一般索引。
主索引( Primary Index)
主索引是將資料表的主索引鍵建立成索引，一個資料表只能擁有一個主索引。在資料表建立主索引的索引欄位，欄位值一定不能重覆，即欄位值是唯一，而且不允許是空值 (NULL)。
在主索引的索引欄位可以是一個或多個欄位的組合，如果是由多個資料表欄位所組成，稱為複合索引（Composite Index）或結合索引 ( Concatenated Index），在主索引的複合索引中，個别欄位九許重複值，但是整個組合值仍然需要是唯一值。
例如：由【序號】和【姓名】欄位組成的主素引，單獨的姓 名欄位允許重複值，但是【序號十姓名】就一定是唯一值。

唯一索引( Unique Index)
唯一素引的欄位值也是唯一的，不同於主素引只能有一個，同一個資料表可以擁有多個唯一素引，這也是與主素引最主要的差別。

一般索引 (Regular Index )
一般素引的素引欄位值並不需要是唯一的，其主要目的是加速資料表的搜尋與排序。在一個資料表可以擁有多個一般素引。換句話說，我們可以在資料表選擇一些欄位來建立一般寨引，其目的就是增進查詢效能。


SQL Server 的索引結構
Index Oreanization：叢集索引（Clustered Indexs)和非叢集索引(Nonclustered Indexs)兩種。
基本上，SQL Server 資料表只能擁有一個叢集索引通常就是主索引，主索引的索引欄位可以是單一欄位，或多欄位的複合索引。
在同一個資料表可以擁有多個非叢集索引，它可以是唯一索引或一般索引，當然也可以是多索引欄位的複合索引。

Clustered Indexs:
在索引分頁的內容是叢集索引鍵值和指向下一層的指標。SQL Server 是從根節點開始，由上而下借由指標來搜尋鍵值，直到在資料分頁找到和鍵值相同的記錄資料。

非叢集索引（Nonclustered Indexes）：是一種類似叢集索引的 B樹結構，其差異在於資料表的記錄並不會依據非叢集索引的鍵值來排序，而且非叢集索引的葉
節點是索引分頁，而不是資料分頁。


資料表的索引規劃
是否需要建立索引和應該選擇哪些欄位建立索引，是在建立资料表時，就需要考量的問題。
判斷索引是否比資料表掃瞄(直接一筆記錄接著一筆記錄比較來進行搜尋）更有效率，如果有，即可考慮建立素引。

。優點：不用一筆一筆比較來搜尋記錄，透過索引結構來快速找到指定記錄，它能夠讓 SQL語言的合併查詢、排序和群組操作更加有效率。
•缺點：需要額外的磁碟空間和維護成本，因為資料表在插人、更新和刪除記錄時，都需要花費額外時間和資源來更新索引資料。
如果資料表的資料量太小，索引能夠改進資料存取的效率將十分有限，替小資料表建立素引對資料存取效率並沒有什麼幫助。


限制條件
。因為資料表的記錄資料是使用叢集索引的順序來排列，所以每一個資料表只能建立一個叢集索引，但是可以多個欄位建立多個非叢集索引。
。在一個資料表最多只能有一個叢集索引和 249 個非叢集索引。
。複合索引欄位數最多只能有 16個欄位。
。單一索引欄位或複合索引欄位的總長度需在 900 位元組以内，
而且不能替ntext、text 和 image 資料類型的欄位建立索引。


複合索引
是指索引欄位超過一個的索引，選擇資料表的多個欄位集合來建立複合索引。在資料表應該儘量避免建立複合索引，而是以多個單一欄位索引來取代，
因複合索引的索引欄位尺寸通常比較大，需要更多的磁碟讀取，反而影響整體的執行效能。
使用上有一些限制，只有當 SELECT 指令的 WHERE 子句使用第 1個欄位進行查詢時，才會使用複合索引來增加查詢效率。
例如：建立【城市】和【郵遞區號】欄位的複合索引【城市＋郵遞區號】，
WHERE 城市= 台北，WHERE 郵遞區號= 100.
上述第1個 WHERE 條件是使用第1個欄位，所以會使用複合索引;第2個條件是使用第2個欄位，如此就無法使用複合索引。

如果資料表的主鍵或唯一值(UNIQUE)欄位是由多個欄位所組成， 預設會將它建立成複合索引（建議修改資料庫設計來儘量避免此情況），此時複合索引的欄位順序就十分重要，
因為 SQL Server 只能使用複合索引最左邏的第 1個欄位來增進查詢效能。


選擇索引欄位
所有欄位都可以選擇來建立索引（除前述限制條件外），或作為索引的組成欄位來建立複合索引。
判斷指定欄位是否應該建立索引更快的使用此欄位來搜尋記錄。

應該作為索引的欄位：查詢頻繁的欄位，如：主鍵、外來鍵、常合併查詢的欄位、排序欄位和需要查詢指定範圍的欄位。
主鍵建立叢集索引（SQL Server 預設會自動建立）， 其他欄位建立成非叢集索引（UNIQUE的欄位預設會自動建立成非叢集索引）。

不應該作為索引的欄位：查詢時很少參考到的欄位、大量重複值欄位（例如：欄位值只有男或女）或 bit 等資料類型的欄位。


CREATE [ UNIQUE | CIUSTERED ] INDEX 索引名稱
ON 資料表名稱（欄位名稱[（長度)][ ASC | DESC ][, . .n] )
[INCIUDE（欄位清單）]
[WITH 索引選項]
[ON 檔案群組名稱]

PAD INDEX : 索引頁預留空間
FILLFACTOR = X : 填滿因數
IGNORE DUP KEY : 忽略重複值
STATISTICS NORECOMPUTE : 不重新計算統計資料
DROP EXISTING : 重建存在的索引，即卸除目前的索引後，重新建立

最後的 ON 子句可以指定索引建立在哪一個檔案群組。
*/

USE 教務系統 
GO
CREATE INDEX 員工姓名_索引 
ON 員工(姓名)
INCLUDE (電話, 薪水)














 































































