USE 教務系統 
GO
IF (SELECT COUNT(*) FROM 教授) >= 1
   PRINT '教授資料表有存在記錄!'
ELSE
   PRINT '教授資料表沒有記錄!'




if (select COUNT(*) from proffessor) >= 1
    print 'the data table has an existence record.'
ELSE
    print 'the data table has no record.'


 































































