/*
View的資料是從基底資料表 ( Base Tables)取出，只是依照定義過濾掉不屬於檢視表的資料。
如果檢視表的資料是從其他檢視表導出，也是重複再過濾一次， 如同是一個從不同資料表或檢視表抽出的資料積
木拼出的資料表

常用的有三種，如下所示：
•列欄子集檢視表 (Row-and-Columan Subset Views)：資料來源是單一資料表或其他檢視表，只挑選資料表或其他檢視表中所需的欄位和記錄。換句話說，建立的檢視表是資料表或其他檢視表的子集。
•合併檢視表 (Join Views)：欄位和記錄是來自多個資料表或其他檢視表。
•統計摘要檢視表 (Statistical Summary Views）：一種特殊的列欄子集檢視表或合併檢視表，它是再使用聚合函數 ( Aggregate Function）產生指定欄位所需的統計資料。

優點
隱藏和過濾並簡化資料查詢：
。邏輯資料獨立：檢視表的定 義相當於是外部與概念對映 ( External/Conceptual Mapping），當更改資料表的定義資料，我們也只需同時更改
檢視表的外部與概念對映的定義資料，就可讓使用者檢視相同觀點的資料，而不會影響外部綱要。
。增加資料安全性：隱藏和過濾，使用者只能看到他允許看到的資料。例如：在【員工】資料表擁有【薪水】欄位，使用檢視表可以隱藏員工的薪水資料
。簡化資料查詢：將常用和複雜的查詢定義成檢視表，即可簡化資料查詢，因為我們不再需要每次重複執行複雜的 SOL 查詢指令，直接開啟現成的檢視表即可。
。簡化使用者觀點：增加資料的可讀性，專注於所需的資料，例如：替欄位更名成使用者觀點的欄位名稱。

缺點
需要多一道建立過程，且因為设有真正儲存資料、所以擁有更多的操作限制：
。執行效率差：沒有真正儲存資料，只是一個虛擬資料表，資料是在使用時才從資料表導出，因為經過一道轉換手續，其執行效率比不過直接
存取資料表。
。更多的操作限制：在新增、更新和删除資料時，為了避免達反資料庫的完整性限制條件，在操作上有更多的限制。
。增加管理的複雜度：一層一層的從其他檢視表導出•例如：B檢視表和c 檢視表是從D 檢視表導出，A 檢視表是從 B 檢視表導出，複雜關聯會增加管理眾多資料表和檢視表的複雜度，
因為不小心刪錯檢視表，可能會造成嚴重後果。例如：如果錯刪D檢視表，則A 檢視表、B_檢視表和 C_檢視表也會同時失去作用
*/
USE 教務系統 
GO
-- CREATE VIEW 學生聯絡_檢視 (學號, 學生姓名, 學生電話)
CREATE VIEW 學生聯絡_檢視 
AS
SELECT 學號, 姓名, 電話 FROM 學生
GO
SELECT * FROM 學生聯絡_檢視



 































































