USE master 
GO
IF  EXISTS (SELECT name FROM sys.databases WHERE name='教務系統')
DROP DATABASE [教務系統]
GO

CREATE DATABASE [教務系統]
GO

USE [教務系統]
GO

CREATE TABLE [學生] (
	[學號] char(4) NOT NULL,
	[姓名] varchar(12) NOT NULL,
	[性別] char(2) NULL,
	[電話] varchar(15) NULL,
	[生日] date NULL,
  PRIMARY KEY ([學號])
) 
GO

CREATE TABLE [課程] (
	[課程編號] char(5) NOT NULL,
	[名稱] varchar(30) NULL,
	[學分] int NULL,
  PRIMARY KEY ([課程編號])
) 
GO

CREATE TABLE [教授] (
	[教授編號] char(4) NOT NULL,
	[職稱] varchar(10) NULL,
	[科系] varchar(5) NULL,
	[身份證字號] char(10) NOT NULL,
  PRIMARY KEY ([教授編號])
) 
GO

CREATE TABLE [班級] (
	[教授編號] char(4) NOT NULL,
	[學號] char(4) NOT NULL,
	[課程編號] char(5) NOT NULL,	
	[上課時間] datetime NULL,
	[教室] varchar(8) NULL,
  PRIMARY KEY ([教授編號],[課程編號],[學號])
) 
GO

CREATE TABLE [員工] (
	[身份證字號] CHAR(10) NOT NULL,
	[姓名] varchar(12) NULL,
	[城市] char(5) NULL,
	[街道] varchar(30) NULL,
	[電話] char(12) NULL,
	[薪水] money NULL,
	[保險] money NULL,
	[扣稅] money NULL,
  PRIMARY KEY ([身份證字號])
) 
GO

ALTER TABLE [班級]
  ADD FOREIGN KEY([學號]) REFERENCES [學生] ([學號])
GO
ALTER TABLE [班級] 
  ADD FOREIGN KEY([課程編號]) REFERENCES [課程] ([課程編號])  
GO
ALTER TABLE [班級] 
  ADD FOREIGN KEY([教授編號]) REFERENCES [教授] ([教授編號])   
GO
ALTER TABLE [教授] 
  ADD FOREIGN KEY([身份證字號]) REFERENCES [員工] ([身份證字號])   
GO

INSERT INTO [學生] 
VALUES ('S001','陳會安','男','02-22222222','1999/09/03')
GO
INSERT INTO [學生] 
VALUES ('S002','江小魚','女','03-33333333','2000/02/02')
GO
INSERT INTO [學生] 
VALUES ('S003','張無忌','男','04-44444444','1998/05/03')
GO

INSERT INTO [課程] 
VALUES ('CS101','計算檮概論',4)
GO
INSERT INTO [課程] 
VALUES ('CS121','離散數學',4)
GO
INSERT INTO [課程] 
VALUES ('CS111','線性代數',4)
GO

INSERT INTO [員工] 
VALUES ('A123456789','陳慶新','台北','信義路',
        '02-11111111', 80000, 5000, 2000)
GO
INSERT INTO [員工] 
VALUES ('A222222222','楊金欉','桃園','中正路',
        '03-11111111', 80000, 4500, 2000)
GO
INSERT INTO [員工] 
VALUES ('H098765432','李鴻章','基隆','信四路',
        '02-33111111', 60000, 4000, 1500)
GO

INSERT INTO [教授] 
VALUES ('I001','教授',  'CS', 'A123456789')
GO
INSERT INTO [教授] 
VALUES ('I002','教授',  'CS', 'A222222222')
GO
INSERT INTO [教授] 
VALUES ('I003','副教授','CIS','H098765432')
GO

INSERT INTO [班級] 
VALUES ('I001','S001','CS101','12:00:00','180-M')
GO
INSERT INTO [班級] 
VALUES ('I001','S005','CS101','12:00:00','180-M')
GO
INSERT INTO [班級] 
VALUES ('I001','S006','CS101','12:00:00','180-M')
GO

