USE 教務系統 
GO
SELECT * FROM 學生 WHERE 生日 IS NULL





SELECT * from student where bd is null



















































